body,
html {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
body.overflow,
html.overflow {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

main {
  min-height: 100vh;
  background: #ebebeb;
  overflow-y: auto;
  padding-bottom: 20px;
}
main.white-bg {
  background: white;
}
main.white-bg .mobile-header {
  margin-bottom: 20px;
}

input,
textarea {
  border: none;
  color: #1d1d1b;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #979797;
  color: #1d1d1b;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #979797;
  color: #1d1d1b;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #979797;
  color: #1d1d1b;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #979797;
  color: #1d1d1b;
}
input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
}
button:focus {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.main-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #000;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.checkbox-wrap {
  border-radius: 100px;
  height: 50px;
  border: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 16px;
}
.checkbox-wrap label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.checkbox-wrap label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.checkbox-wrap label span {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 0;
}
.checkbox-wrap label span:after {
  content: "";
  background: url(../img/check-grey.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transition: 0.3s;
  opacity: 1;
}
.checkbox-wrap label input:checked ~ span:after {
  background: url(../img/check-green.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.customer-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.customer-screen .video img {
  max-width: 100%;
  max-height: 100%;
}
.customer-screen .info .coupon-top {
  padding-top: 40px;
  margin-bottom: 20px;
}
.customer-screen .info .coupon-top b {
  font-size: 44px;
  color: #2c2d31;
}
.customer-screen .info .coupone-items {
  height: 860px;
}
.customer-screen .info .coupone-items .coupone-item {
  margin-bottom: 10px;
}
.customer-screen .info .coupone-items .coupone-item.active {
  background: #ff9900;
  border-color: #ff9900;
}
.customer-screen .info .coupone-items .coupone-item span {
  font-size: 44px;
}
.customer-screen .info .coupone-items .coupone-item:first-child span {
  font-size: 100px;
}
.customer-screen .info .coupone-items .coupone-item:first-child img {
  width: 200px;
}
.customer-screen .info .bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 40px;
}
.customer-screen .info .bottom-info b {
  font-size: 72px;
  color: #939393;
  font-weight: bold;
}
.customer-screen .info.info2 {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.customer-screen .info.info2:after {
  content: "";
  background: url(../img/bg-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
}
.customer-screen .info.info2:before {
  content: "";
  background: url(../img/bg-bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 210px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.customer-screen .info.info2 .bottom-info {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.customer-screen .info.info2 .numbers {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.customer-screen .info.info2 .numbers span {
  font-size: 400px;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}
.customer-screen .info.info2 .numbers span.active {
  background: #0e6131;
}

#login-popup,
#close-shift-popup {
  max-width: 450px;
  width: 100%;
  margin: auto;
}

.popup-body {
  position: relative;
  z-index: 0;
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 40px;
  padding-bottom: 60px;
}
.popup-body .mfp-close {
  width: 20px;
  height: 20px;
  opacity: 1;
  position: absolute;
  top: 20px;
  right: 20px;
}
.popup-body .mfp-close:before {
  content: none;
}
.popup-body .mfp-close:after {
  content: "";
  background: url(../img/close-popup.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.popup-body .logo {
  margin-bottom: 40px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form > p {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #4f4f4f;
}
.form h3 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #4f4f4f;
}
.form .green-btn {
  height: 50px;
}
.form .input {
  border-color: #e4e4e4;
  margin-bottom: 15px;
  height: 50px;
}
.form .checkbox-wrap {
  margin-bottom: 50px;
}
.form .select-wrap {
  margin-bottom: 15px;
}
.form .select-wrap .select2-selection__rendered {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.radio-wrap input[type=radio] {
  display: none;
}
.radio-wrap input:checked + label {
  background: white;
}
.radio-wrap label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  border-radius: 50px;
  color: #1d1d1b;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .radio-wrap label {
    width: 40px;
    height: 26px;
    font-size: 14px;
  }
}

.select-wrap {
  position: relative;
}
.select-wrap select {
  display: none;
}
.select-wrap .select2 {
  position: relative;
  width: 100% !important;
  height: 100%;
}
.select-wrap .select2 .selection {
  width: 100%;
}
.select-wrap .select2-container--default .select2-selection--single {
  background-color: transparent;
  text-align: left;
  border: none;
  padding: 0;
  background: white;
  transition: 0.3s;
  height: 100%;
  border-radius: 10px;
}
.select-wrap .select2-container--default .select2-selection--single:focus {
  outline: none;
}
.select-wrap .select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
  padding: 10px 20px;
  height: 50px;
  line-height: 30px;
  color: #141414;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .select-wrap .select2-container .select2-selection--single .select2-selection__rendered {
    height: 50px;
    font-size: 16px;
    line-height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.select-wrap .select2-selection__arrow {
  width: 16px !important;
  height: 16px !important;
  top: 53% !important;
  right: 15px !important;
  transform: translateY(-50%);
  z-index: 1 !important;
  background-color: transparent;
}
.select-wrap .select2-selection__arrow b {
  background: url(../img/select-arrow.svg) no-repeat center center;
  width: 16px !important;
  height: 16px !important;
  border: none !important;
  transition: 0.2s;
  margin-top: -8px !important;
  margin-left: -8px !important;
  transform: rotate(180deg);
}
.select-wrap .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(0deg);
}

.select2-dropdown {
  border: none !important;
  font-size: 16px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background: white;
  color: #4f4f4f;
  font-size: 16px !important;
  font-weight: 400;
  transition: 0s;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  font-size: 16px;
  background: white;
  color: #0e6131;
  font-weight: 400;
  transition: 0s;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--open .select2-dropdown {
  bottom: 0 !important;
  top: 100%;
  transition: 0s;
}

.select2-results__options {
  border: none;
  max-height: inherit !important;
  background: white;
  border-radius: 10px;
  padding: 15px 0;
  margin-top: 10px;
  transition: 0s;
  min-width: 100%;
  width: max-content;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
}

.select2-results__option {
  font-size: 16px;
  background: #fff;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px !important;
  margin-bottom: 12px;
  transition: 0s;
}
.select2-results__option:last-child {
  margin-bottom: 0;
}
.select2-results__option:last-child {
  border: none;
}
.select2-results__option > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.select2-results__option > span img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.select2-search__field {
  border: none !important;
  border-bottom: none !important;
  border-top: 1px solid rgba(70, 70, 95, 0.1) !important;
  padding-left: 10px !important;
  font-size: 11px !important;
  min-height: 30px;
  transition: 0s;
}

.select2-search--dropdown {
  border: none;
}

.select2-search {
  display: none;
}

.select2-results__option {
  font-weight: 400;
  padding: 0 15px;
  color: #4f4f4f;
  font-size: 16px;
  transition: 0s;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff"), url("../fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: white;
  padding: 20px;
  margin-bottom: 25px;
}
.mobile-header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-header .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobile-header .lang button {
  font-size: 15px;
  color: #4f4f4f;
  padding: 2px 6px;
  border: 1px solid transparent;
  margin-left: 5px;
  border-radius: 5px;
}
.mobile-header .lang button.active {
  border-color: #0e6131;
}
.mobile-header .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  color: #4f4f4f;
  position: relative;
  z-index: 0;
  padding-left: 17px;
  min-width: 62px;
}
.mobile-header .back:after {
  content: "";
  background: url(../img/back-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 8px;
}
.mobile-header .back.op {
  opacity: 0;
}

.global-link {
  border-radius: 10px;
  background: white;
  margin-bottom: 10px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}
.global-link span {
  font-size: 16px;
  color: #141414;
  max-width: 220px;
}
.global-link img {
  margin-right: 10px;
}

.choose-language {
  padding: 0 20px;
}
.choose-language h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
  max-width: 200px;
}

.select {
  padding: 0 20px;
}

.green-btn {
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #0e6131;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 16px;
}
.green-btn.bdrs {
  border-radius: 10px;
  height: 50px;
}

.input {
  height: 44px;
  width: 100%;
  padding: 0 16px;
  border-radius: 50px;
  border: 1px solid #b6b6b6;
  background: transparent;
  font-size: 14px;
  color: #000;
  transition: 0.3s;
}
.input::-webkit-input-placeholder {
  font-size: 14px;
  color: #4f4f4f;
}
.input::-moz-placeholder {
  font-size: 14px;
  color: #4f4f4f;
}
.input:-ms-input-placeholder {
  font-size: 14px;
  color: #4f4f4f;
}
.input:-moz-placeholder {
  font-size: 14px;
  color: #4f4f4f;
}
.input:focus {
  border-color: #000;
}
.input.error {
  border-color: #eb5757;
}

.continue {
  padding: 0 20px;
}
.continue p {
  font-size: 14px;
  color: #4f4f4f;
  margin-bottom: 15px;
}
.continue p.margin {
  margin-bottom: 0px;
}
.continue .continue-form .input,
.continue .continue-form2 .input {
  margin-bottom: 25px;
}

.select-block {
  padding: 0 20px;
}
.select-block .select-wrap {
  margin-bottom: 10px;
}

.select-service {
  padding: 0 20px;
}
.select-service p {
  font-size: 14px;
  color: #4f4f4f;
  margin-bottom: 10px;
}
.select-service .main-title {
  margin-bottom: 15px;
}

.your-call {
  padding: 0 20px;
}
.your-call .main-title {
  margin-bottom: 5px;
}
.your-call p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #717171;
}
.your-call .info {
  max-width: 280px;
  width: 100%;
  margin: 0 auto 10px;
  padding: 25px;
  position: relative;
  z-index: 0;
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.your-call .info > img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: -1;
}
.your-call .info .num {
  color: #0e6131;
  font-size: 42px;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.your-call .info .green {
  color: #0e6131;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}
.your-call .info ul {
  width: 100%;
}
.your-call .info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #a1a1a1;
}
.your-call .info ul li .text {
  font-size: 12px;
  color: #8a8c8b;
}
.your-call .info ul li .black {
  font-size: 12px;
  color: #424242;
}
.your-call .info ul li .count {
  font-size: 12px;
  border-radius: 50%;
  background: #ff9900;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}
.your-call .info.info-green {
  margin-bottom: 20px;
}
.your-call .info.info-green .num,
.your-call .info.info-green .green {
  color: white;
}
.your-call .info.info-green .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 0;
}
.your-call .info.info-green .wrap img {
  align-self: center;
  margin-right: 10px;
}
.your-call .info.info-green .wrap b {
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.your-call .info.info-green .bottom {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}
.your-call .info.info-green .bottom span {
  font-size: 12px;
  color: white;
}
.your-call .give-up-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #d9d9d9;
  height: 40px;
  font-size: 15px;
  color: #e95656;
}

.coupon-item {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background: white;
  height: 40px;
  padding: 0 15px;
}
.coupon-item.active {
  background: #ff9900;
}
.coupon-item span {
  font-size: 15px;
  color: #0e6131;
}
.coupon-item svg {
  fill: #0e6131;
  transition: 0.3s;
}
.coupon-item.active {
  background: #0e6131;
}
.coupon-item.active span {
  color: white;
}
.coupon-item.active svg {
  fill: white;
}

.coupon-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.coupon-top b {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
}

.rate {
  padding: 0 20px;
  background: white;
}
.rate > p {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
  color: #7e7e7e;
}
.rate .rate-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.rate .rate-form textarea {
  border-radius: 10px;
  resize: none;
  width: 100%;
  min-height: 130px;
  padding: 15px;
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
  background: #ebebeb;
  border: 1px solid #ebebeb;
  transition: 0.3s;
}
.rate .rate-form textarea.error {
  border-color: #e95656;
}
.rate .rate-form textarea::-webkit-input-placeholder {
  color: #7e7e7e;
  font-size: 15px;
}
.rate .rate-form textarea::-moz-placeholder {
  color: #7e7e7e;
  font-size: 15px;
}
.rate .rate-form textarea:-ms-input-placeholder {
  color: #7e7e7e;
  font-size: 15px;
}
.rate .rate-form textarea:-moz-placeholder {
  color: #7e7e7e;
  font-size: 15px;
}
.rate.rate2 {
  padding: 20px;
}

.end {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: calc(100vh - 110px);
}
.end .big-star {
  margin-bottom: 10px;
}
.end p {
  max-width: 280px;
  font-size: 24px;
  color: #000;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.end p:after {
  content: "";
  background: url(../img/heart.png);
  width: 23px;
  height: 23px;
  display: inline-block;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 15px;
  border: none;
}

.rating label {
  width: 40px;
  height: 40px;
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 40px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 5px;
  line-height: 1.2;
}

.icon-star {
  width: 40px;
  height: 40px;
  fill: #d9d9d9;
  transition: all 0.3s;
  pointer-events: none;
}

.rating > input:checked ~ label .icon-star {
  fill: #0e6131;
}

.rating:not(:checked) > label:hover .icon-star,
.rating:not(:checked) > label:hover ~ label .icon-star {
  fill: #d9d9d9;
}

.rating > input:checked + label:hover .icon-star,
.rating > input:checked + label:hover ~ label .icon-star,
.rating > input:checked ~ label:hover .icon-star,
.rating > input:checked ~ label:hover ~ label .icon-star,
.rating > label:hover ~ input:checked ~ label .icon-star {
  fill: #0e6131;
}

.rating > label:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.radio-wrap.borders {
  position: relative;
  z-index: 0;
}
.radio-wrap.borders:after {
  content: "";
  width: 1px;
  height: calc(100% - 10px);
  top: 5px;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.radio-wrap.borders:before {
  content: "";
  width: 1px;
  height: calc(100% - 10px);
  top: 5px;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.radio-wrap input[type=radio] {
  display: none;
}
.radio-wrap input:checked + label {
  border-color: #0e6131;
}
.radio-wrap label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: #4f4f4f;
  font-weight: normal;
  border: 1px solid transparent;
  transition: 0.3s;
  border-radius: 8px;
  white-space: nowrap;
  padding: 5px 10px;
  width: auto;
  height: auto;
  min-width: 74px;
}

.header {
  border-radius: 14px;
  background: white;
  margin: 20px 0;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}
.header .radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.header .top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .top-info span {
  font-size: 20px;
  color: #4f4f4f;
}
.header .top-info span.date {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  padding: 0 10px;
}
.header .close-shift {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 20px;
  color: #4f4f4f;
  background: #e3e3e3;
  margin-left: 15px;
  cursor: pointer;
}
.header .close-shift:hover {
  background: #d1d1d1;
}
.header .sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
.header .sign-in .person {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .sign-in .person img {
  margin-right: 10px;
}
.header .sign-in .person span {
  font-size: 20px;
  color: #4f4f4f;
  font-weight: bold;
}

.red-btn {
  background: #e55353;
  color: white;
  border-radius: 8px;
  padding: 4px 20px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #e55353;
}
.red-btn:hover {
  color: #e55353;
  background: white;
}

.coupone-items {
  overflow-y: auto;
  height: 620px;
  padding-right: 5px;
}
.coupone-items::-webkit-scrollbar {
  width: 2px;
}
.coupone-items::-webkit-scrollbar-track {
  background: white;
}
.coupone-items::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.coupone-items .coupone-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.07);
  padding: 15px 30px;
}
.coupone-items .coupone-item span {
  font-size: 26px;
  text-transform: uppercase;
  color: #0e6131;
  font-weight: 400;
}
.coupone-items .coupone-item img {
  margin: auto;
}
.coupone-items .coupone-item:first-child {
  background: #0e6131;
  border-color: #0e6131;
}
.coupone-items .coupone-item:first-child span {
  color: white;
  font-size: 60px;
}

.status-items {
  overflow-y: auto;
  height: 620px;
  padding-right: 10px;
  margin: 10px 0;
}
.status-items::-webkit-scrollbar {
  width: 2px;
}
.status-items::-webkit-scrollbar-track {
  background: white;
}
.status-items::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.status-items .status-item {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.status-items .status-item span {
  font-size: 22px;
  color: #6b6b6b;
  min-width: 120px;
}
.status-items .status-item span.center {
  margin: auto;
  text-align: center;
}
.status-items .status-item span:last-child {
  text-align: right;
}

.admin-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.admin-wrap .admin-info {
  border-radius: 10px;
  background: white;
  padding: 20px;
  max-height: 710px;
  overflow: hidden;
}
.admin-wrap .admin-info .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}
.admin-wrap .admin-info .top span {
  color: #0e6131;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}
.admin-wrap .admin-info.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.admin-wrap .admin-info.status .status-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0;
}
.admin-wrap .admin-info.status .status-info span {
  font-size: 24px;
  text-transform: uppercase;
  color: #2c2d31;
  font-weight: bold;
}
.admin-wrap .admin-info.status .status-info.top-info {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.admin-wrap .admin-info.status .status-info.bottom-info {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  margin-top: auto;
}
.admin-wrap .admin-info.statistics h3 {
  font-size: 24px;
  font-weight: bold;
  color: #2c2d31;
  margin-bottom: 20px;
  margin-top: 10px;
}
.admin-wrap .admin-info.statistics .statistics-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.admin-wrap .admin-info.statistics .statistics-list li span {
  font-size: 24px;
  color: #2c2d31;
}
.admin-wrap .admin-info.statistics .statistics-list li b {
  font-size: 24px;
  font-weight: bold;
  color: #2c2d31;
}
.admin-wrap .admin-info.statistics .statistics-list li:last-child {
  border-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
